ams_article_bot/__pycache__/
new_article_bot/__pycache__/
thesis_bot/__pycache__/
ams_article_bot/templates/__pycache__/
new_article_bot/templates/__pycache__/
thesis_bot/__pycache__/
latex_bot/__pycache__/
